<%- include('partials/header.ejs') %>

        <h1> Welcome to the Solar System Site! </h1>
        
        <img src="/img/solar_system.jpg" alt="The Solar System" />
        <div id="solar_system">
        <p>
                This is our solar system.  It contains eight planets.  From the discovery of Pluto in 1930 until 2006, there were nine planets. 
                Don't worry, Pluto is still there.  In 2006 it was determined that Pluto didn't fit the official definition of a planet.
                Our sun is classified as a G-type main-sequence star, or G dwarf star.  
                The solar system is roughly 4.6 billion years old.  That might seem very old, but scientists estimate the sun will live for another 
                10 billion years, though it will have long since turned into a red giant and consumed the inner planets.  While the sun dominates 
                our solar system, it’s not considered to be particularly large as stars go.  There are examples of stars up to 100 times 
                larger than our sun.  
        </p>
        </div>


<%- include('partials/footer.ejs') %>