<%- include('partials/header.ejs') %>

        <h1> Welcome to the Jupiter Page! </h1>
        
        <div class="content" id="planetInfo">
        <img src="/img/jupiter.jpg" alt="The Solar System" width="250" height="250"/>
        <div class="text" id="text">
        <p>
            Jupiter is the solar system’s largest planet at 318 times the size of Earth.  Jupiter is a gas giant, 
            which means most of its atmosphere is made up of gaseous elements such as hydrogen and helium.  There’s 
            some dispute as to whether Jupiter has a solid core or not.  What’s not in dispute is Jupiter’s massive 
            size.  Due to its mass, Jupiter exerts large gravitational forces on its surroundings resulting in a 
            large number of moons, 79 in total.  Europa, for example, has more liquid water than all the oceans on earth.  
            Though buried below 10 miles of solid ice, these oceans could possibly harbor life.  Jupiter, and gas giants 
            in general, can play an important role in gobbling up extra solar visitors with their giant gravity wells 
            and protecting the inner planets from impact.  Too close and the inner planets would have wonky orbits, 
            too far out and they might prevent icy comets from every reaching the inner planets, a critical source of water.
        </p>
        </div>
        </div>
        
<%- include('partials/footer.ejs') %>