<%- include('partials/header.ejs') %>

        <h1> Welcome to the Mercury Page! </h1>
        
        <div class="content" id="planetInfo">
        <img src="/img/mercury.png" alt="The Solar System" width="250" height="250"/>
        <div class="text" id="text">
        <p>
            Mercury is the first and closes planet to the sun in our solar system.  Mercury orbits the sun once every 88 days, 
            which is the shortest in the solar system.  Mercury used to be considered the seconds smallest planet, but with 
            Pluto’s demotion, Mercury is now the smallest planet in the solar system.  Mercury has little ability to retain 
            heat due to its lack of atmosphere.  So, despite being closer to the sun than any other planet, Mercury is not the 
            hottest planet in the solar system.  It does, however, features the solar system’s largest difference in temperatures, 
            ranging from -280 F to 800 F.  
        </p>
        </div>
        </div>
        
        
<%- include('partials/footer.ejs') %>