<%- include('partials/header.ejs') %>

        <h1> Welcome to the Venus Page! </h1>
        
        <div class="content" id="planetInfo">
        <img src="/img/venus.jpg" alt="The Solar System" width="250" height="250"/>
        <div class="text" id="text">
        <p>
            Venus is the seconds planet from the sun.  Venus lies within the goldilocks zone, along with Earth and Mars.  
            This is the distance from the sun where planets aren’t too hot or too cold for life as we know it to exist.  
            While Venus is similar in size and distance from sun, its atmosphere is deadly.  Comprised mostly of carbon dioxide 
            with clouds of sulfuric acid, Venus’ thick atmosphere traps the suns heat resulting in temperatures above 800 degrees, 
            hot enough to melt lead, making Venus the hottest planet in the solar system.  Some say Venus was once like Earth and
            that run-away global warming caused it to become what it is today.
        </p>
        </div>
        </div>

<%- include('partials/footer.ejs') %>